body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn {
  display: block;
  background-color: #00B7FF;
  color: #fff;
  padding: 10px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  background-color: #4682b4;
}

.big-red {
  background-color: red;
  color: black;
  padding: 10px;
  width: 300px;
  height: 150px;
  border-radius: 35px;
  line-height:150px;
  font-size: large;
}

.big-red:hover {
  background-color: darkred;
}

input {
  width: 300px;
}